html
  head
    title User Information app
    script(type='text/javascript', src='js/app.js')
  body
    h1 Search
    form(action='http://localhost:3000/searchRequest', method='post')
      input(type='text', name='Name', placeholder='wie zoek je?')
      br
      button(type='submit') Submit
    a(href='http://localhost:3000/allusers') all users
    h1 Add User
    form(action='http://localhost:3000/addRequest', method='post')
      input(type='text', name='firstName', placeholder='your name')
      input(type='text', name='lastName', placeholder='your last name')
      input(type='text', name='email', placeholder='your Email adress')
      br
      button(type='submit') Submit
    a(href='http://localhost:3000/allusers') all users
